body{
  padding: 20px;
}

.header {
  background-image: url('../assets/header-background.png');
  background-size: cover;
  padding: 20px;
  border-radius: 25px;
}

.header-background .header {
  background-image: url('../assets/header-background.png');
}

.white-background {
  background-color: white;
  background-image: none;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 50px;
}

.header-text {
  color: #FFF;
  padding: 20px;
  text-align: center;
}

.main-heading {
  font-family: 'TradeGothic LT Extended', sans-serif;
  font-weight: bold;
  font-size: 45px;
  margin: 0;
}

.sub-heading {
  font-family: 'TradeGothic LT Extended', sans-serif;
  font-weight: bold;
  font-size: 80px;
  margin: 10px 0;
}

.description {
  font-family: 'Montserrat', sans-serif;
  font-weight: semibold;
  font-size: 20px;
  margin: 0;
}

.nav {
  position: absolute;
  left: 0;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.auth {
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.login {
  padding: 8px 16px;
  background-color: transparent;
  border: none;
  color: #FFF;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.sign-up {
  padding: 8px 16px;
  background-color: #FFF;
  border: none;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.login:hover {
  background-color: transparent;
  color: #9BE0C8;
  text-decoration: none;
}

.sign-up:hover {
  border: 1px solid #A5EBD3;
  background-color: transparent;
  color: #8DD3BB;
}

.rectangle {
  position: absolute;
  bottom: -150px; /* Di chuyển hình chữ nhật xuống dưới 50px */
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 280px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Thêm hiệu ứng đổ bóng nhẹ */
  z-index: 2; /* Đảm bảo hình chữ nhật nằm trên nền */
}
/* CSS cho white-background */
.white-background .rectangle{
  display: none;
}


.white-background .login {
  background-color: #FFF;
  color: #000;
  border: none;
}

.white-background .sign-up {
  background-color: #112211;
  color: #FFF;
  border: none;
}

.white-background .login:hover {
  background-color: transparent;
  color: #9BE0C8;
  text-decoration: none;
}

.white-background .sign-up:hover {
  border: 1px solid #A5EBD3;
  background-color: #8DD3BB;
  color: #000;
}

.white-background  .header-text {
  display: none;
}


